@font-face{
    font-family:"SofiaPro";
    src:url(/static/media/SofiaPro-Medium.7f8db911.otf) format("opentype");
    font-weight:500;
    font-style:normal;
    font-display:swap
}

:root{
    --fundo-color: #0f1923;
}

*{
    font-family: "SofiaPro",sans-serif !important;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--fundo-color);
}

.bordaMenuTopo{
    border-bottom: solid 0.5px #3c4043;
}

.bordaMenuDireita{
    border-right: solid 0.5px #3c4043;
}

.ColorBronze{
    color: #8C7853 !important;
}

.InformacaoLevel{
    color: #888;
}

.nav-link:hover{
    border-right: solid 1px #ff0000 !important;
    font-weight: bold;
    border-radius: 0px;
    width: 100%;
}

.DescricaoLateral{
    color: #bcbfc7;
    font-weight: bold;
}


.DescricaoLateral:hover{
    color: #fff;
}

.menu-Accordion{
    background-color: transparent !important;
}

.menu-Accordion:focus{
    box-shadow: none;
}

.accordion-item {
    background-color: transparent;
}

.accordion .opcaoLateral{
    color: #888;
    font-weight: bold;
}

#MenuLogin{
    opacity: 0; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    transition: opacity 0.5s;
}

#checaLogin{
    border: 1px solid #323b45;
}

#cancelaLogin{
    background-color: #242b37; 
    border: 1px solid #323b45;
}

#cancelaLogin:hover{
    background: #0f1923;
}

#EsqueceuSenha:hover{
    color: #fff !important;
}